requests
urllib3
cryptography
pandas
openpyxl
numpy
scikit-learn
spacy
pytest
fastapi
uvicorn[standard]
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-groq
chromadb
sentence-transformers
stix2
pydantic
groq
transformers
torch
